
<div class="divPrincipal">    
    <div class="materias-container">
        <h2>Materias</h2>
    
        <!-- <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="materias"
        [cdkDropListConnectedTo]="[listaFila]"
        class="materias-list"
        (cdkDropListDropped)="drop($event)">
        <div class="materias-box" *ngFor="let item of materias" cdkDrag>{{item.nombre}}</div>
        </div> -->
    </div>
    <ng-container>
        <div class="divTabla">
            <div class="header-list">
                <div class="header-box" *ngFor="let item of diasDeLaSemana">{{item.dia}}</div>
            </div>
            <div class="divMaterias">
                <!-- <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="materias"
                    [cdkDropListConnectedTo]="[listaFila]"
                    class="materiasTabla-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="materias-box" *ngFor="let item of materias" cdkDrag>{{item.nombre}}</div>
                    </div>
                <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="materias"
                    [cdkDropListConnectedTo]="[listaFila]"
                    class="materiasTabla-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="materias-box" *ngFor="let item of materias" cdkDrag>{{item.nombre}}</div>
                </div>
                <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="materias"
                    [cdkDropListConnectedTo]="[listaFila]"
                    class="materiasTabla-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="materias-box" *ngFor="let item of materias" cdkDrag>{{item.nombre}}</div>
                </div>
                <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="materias"
                    [cdkDropListConnectedTo]="[listaFila]"
                    class="materiasTabla-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="materias-box" *ngFor="let item of materias" cdkDrag>{{item.nombre}}</div>
                </div>
                <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="materias"
                    [cdkDropListConnectedTo]="[listaFila]"
                    class="materiasTabla-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="materias-box" *ngFor="let item of materias" cdkDrag>{{item.nombre}}</div>
                </div> -->
            </div>
        </div>
    </ng-container>
</div>
